.footerChild {
  height: 60px;
  width: 1512px;
  position: relative;
  background-color: var(--color-lavender-200);
  display: none;
  max-width: 100%;
}
.copyrightClinicalNlpLab {
  width: 657px;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.footer,
.footerWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer {
  background-color: var(--color-lavender-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.footerWrapper {
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: 448091;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
  font-family: var(--font-dm-sans);
}
